  <div class="footer" id="footer">
    <div class="main">
      <div class="contenedor">
        <div class="comun nosotros">
          <h2>Nosotros</h2>
          <p>
            Diseño e instalación sistemas de vídeo cámaras de seguridad,
            control de accesos y redes de telecomunicaciones.
          </p>
        </div>
        <div class="comun linkSecundarios">
          <h2>Enlaces</h2>
          <ul>
            <li>
              <a href="nosotros.html" class="uno">Nosotros</a>
            </li>
            <li class="servicios_link">
              <a href="servicios.html" class="dos">Portafolio Servicios</a>
            </li>
            <li>
              <a href="automatizaciones.html" class="tres">IA & Automatización</a>
            </li>
            <li>
              <a href="sistemasCriticos.html" class="cuatro">Sistemas Críticos</a>
            </li>
            <li>
              <a href="seguridadYRedes.html" class="cinco">Seguridad & Redes</a>
            </li>
          </ul>
        </div>
        <div class="comun mapa">
          <h2>Ubicación</h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.240354281702!2d-66.84950348580871!3d10.48170926743199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a59d5ecd7f4cb%3A0xc92b6111141e787b!2sCYCS%20%26%20Co.%20Ingenier%C3%ADa%20e%20Instalaciones!5e0!3m2!1ses-419!2sve!4v1665662576564!5m2!1ses-419!2sve"
            width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Ubicación de CYCS & Co."></iframe>
        </div>
        <div class="comun contactos">
          <h2>Contacto</h2>
          <ul class="informacion">
            <li>
              <span><i class="fas fa-map-marker" aria-hidden="true"></i></span>
              <span>Av. Veracruz, calle Auyantepuy, <br />Edificio PWC,
                <br />Piso 7, Ofic. 7-A, <br />Chuao, Urb. Las Mercedes,<br />Caracas,
                Venezuela</span>
            </li>
            <li>
              <span><i class="fas fa-phone" aria-hidden="true"></i></span>
              <p>
                <a href="Phone:+584143246396">(+58) 414 324 63 96</a><br />
              </p>
            </li>
            <li>
              <span><i class="fas fa-envelope" aria-hidden="true"></i></span>
              <p>
                <a
                  href="mailto:cycs.ingenieria@gmail.com?&subject=Requerimiento/Contacto%20proveniente%20del%20Website!">cycs.ingenieria@gmail.com</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyrightTexto">
      <p>Copyright &copy; Carlos Colmenares A. | Derechos Reservados</p>
    </div>
  </div>







