    <header class="header" id="header">
      <nav class="nav container">
        <a href="/" class="nav__logo"
          ><span>Carlos Colmenares A.<sup>&reg;</sup></span><small> Ingenieros</small></a
        >

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link">Inicio</a>
            </li>
            <li class="nav__item">
              <a href="#clients" class="nav__link">Clientes & Proyectos</a>
            </li>
            <li class="nav__item">
              <a href="#galeria" class="nav__link">Obras</a>
            </li>
            <li class="nav__item">
              <a href="/assets/html/servicios.html" class="nav__link">Servicios</a>
            </li>
            <li class="nav__item">
              <a href="/assets/html/nosotros.html" class="nav__link">Nosotros</a>
            </li>
            <li class="nav__item">
              <a href="/assets/html/contacto.html" class="nav__link">Contacto</a>
            </li>
          </ul>

          <i class="ri-close-line nav__close" id="nav-close"></i>
        </div>

        <div class="nav__btns">
          <!--: Theme change button -->
          <div class="nav__dark">
            <span class="change-theme-name"></span>
            <i class="ri-moon-line change-theme" id="theme-button"></i>
          </div>

          <!--: Responsive navigation menu button -->
          <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
          </div>
        </div>
      </nav>
    </header>

