  <!-- SEO & Google Crowlers Analitics  -->
  <meta name="author" content="https://carlos-colmenares-a.netlify.app" />

  <meta name="description"
    content="Suministro, instalación y mantenimiento de sistemas de seguridad electrónica, control de accesos, tecnología y redes de telecomunicaciones" />
  <meta name="sitedomain" content="https://cycs.netlify.app" />
  <meta name="organization" content="CYCS & Co." />

  <!-- Meta tags usadas por los buscadores de Google -->
  <meta name="robots" content="index, follow, all" />
  <meta name="googlebot" content="index, follow, all" />
  <meta name="google" content="translate" />
  <meta name="revisit-after" content="7days" />
  <meta name="theme-color" content="#ff4c00" />
  <meta name="google-site-verification"
    content="google-site-verification=wMVhkMD8X0AHtR33pE_heSfV6RWTk6LfdV9-KZdiV-E" />

  <!-- Meta tags usadas por Apple -->
  <link rel="apple-touch-icon" href="https://cycs.netlify.app/img/favicon.png" />

  <!-- Meta tags usadas por Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@cycsingenieria" />
  <meta name="twitter:title" content="CYCS! & Co. | Ingeniería y Proyectos" />
  <meta name="twitter:creator" content="Ing. Carlos Colmenares A." />
  <meta name="twitter:description"
    content="Suministro, instalación y mantenimiento de sistemas de seguridad electrónica, control de accesos, tecnología y redes de telecomunicaciones" />
  <meta name="twitter:image" content="https://cycs.netlify.app/img/about.png" />
  <meta name="twitter:image:alt" content="Esto es lo que somos.. ¡Excelencia, Seriedad y Responsabilidad!" />

  <!-- Meta tags usadas por LinkedIn e Instagram (Open Graph) -->
  <meta property="og:url" content="https://cycs.netlify.app" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="CYCS! & Co. | Ingeniería y Proyectos" />
  <meta property="og:description"
    content="Suministro, instalación y mantenimiento de sistemas de seguridad electrónica, control de accesos, tecnología y redes de telecomunicaciones" />
  <meta property="og:image" content="https://cycs.netlify.app/img/about.png" />
  <meta property="og:site" content="@cycsingenieria" />

  <!-- Meta tags de Datos Estructurados -->
  <meta itemprop="name" content="CYCS! & Co. | Ingeniería y Proyectos" />

  <meta itemprop="description"
    content="Suministro, instalación y mantenimiento de sistemas de seguridad electrónica, control de accesos, tecnología y redes de telecomunicaciones" />
  <meta itemprop="image" content="https://cycs.netlify.app/img/about.png" />
  <link rel="canonical" href="https://cycs.netlify.app" />







